$color-0: #272727;
$color-1: #E6537B;
$color-2: #EFD09E;
$color-3: #D2D8B3;
$color-4: #FFFEF9;

@mixin background {
    background: url("../img/abst.jpg");
    background-attachment: fixed;
    background-size: cover;
}

@mixin easeOut {
    transition: all .2s ease-out;
    &:hover {
        color: $color-1;        
    }
}

.center {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}